* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.header{
    background-color: rgb(41, 36, 31);
}

.titulo{
    padding-top: 20%;
    padding-left: 20%;
    font-size: 4rem;
    
}