* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.header{
    background-color: rgb(41, 36, 31);
}

.titulo{
    background-color: black;
    color: aliceblue;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 15%;
    font-size: 4rem;
    
}